header {
	height:625px;
	overflow:hidden;
	border-bottom:2px solid #2a2a2a;
	background:url(../images/header-pattern.gif) 50% 0 #1d1d1d;
}

header .logo {
	position:absolute;
	left:45px;
	top:70px;
	background:url(../images/logo.png) no-repeat 0 0;
	padding:20px 0 0 20px;
}